*, :after, :before {
    box-sizing:       inherit;
}

html, body {
  height: 100%;
}

.hanoi {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: -1em;
    margin-left: -1em;
}

.hanoi ul:first-child {
    margin-left: 0;
}

.hanoi ul {
    display: inline-flex;
    justify-content: flex-end;
    flex-direction: column;
    vertical-align: top;
    position: relative;
    cursor: pointer;
    width: 115px;
    height: 125px;
    border-bottom: 10px solid #989898;
    margin-left: 5px;
    z-index: 10;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.hanoi ul:after {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 52px;
    border-right: 10px solid #989898;
    z-index: -10;
}

.hanoi li.disk-1 {
    width: 25px;
    background-color: #00b5ad;
}

.hanoi li.disk-2 {
    width: 40px;
    background-color: #FBBE00;
}

.hanoi li.disk-3 {
    width: 55px;
    background-color: #F27200;
}

.hanoi li.disk-4 {
    width: 70px;
    background-color: #DB2B1E;
}

.hanoi li.disk-5 {
    width: 85px;
    background-color: #DF3A9B;
}

.hanoi li.disk-6 {
    width: 100px;
    background-color: #6232D1;
}

.hanoi li {
    margin: 0 auto;
    display: block;
    height: 15px;
    background-color: #002451;
}


.hanoi ul.success {
  border-bottom: 10px solid gold;
}

.hanoi ul.success:after {
  border-right: 10px solid gold;
}